body {
    padding-top: 50px;
    padding-bottom: 20px;
}
p{
    width:320px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#wrapper{
    overflow:hidden;
}
#lists{
    border:1px solid #b200ff;
    float:left;
    width:400px;
}
.div-layout{
    width:500px;
    border: solid 1px black;
    margin-bottom:1px;
    float:left;
}
.div-info{
    float:left;
    padding-left: 5px;
    width:320px;
}
.list{
  width:400px;
  background-color: #EAEAEA;
}
.box-selecting {background :#FECA40;}
.box-selected {background: #F39814; color:white;}
.box-clicked {color:black;}
.box{
    border: solid 1px black;
    width: 200px;
    text-align:center;
    margin-bottom:1px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
